body{
background: rgb(73, 72, 72);
font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;

}

section{
    margin: auto;
    background: rgb(204, 200, 200);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.411);
   



}
select#flista {
    width: 159px;
}
footer{
    color: rgb(223, 223, 183);
    text-align: center;
    font-style: italic;

}